@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<video controls="controls">
    <source src="./video/videogirasoles.mp4" type="video/mp4" />
</video>
<br />

<audio controls="controls">
    <source src="./audio/insideyou.mp3" type="audio/mpeg" />
</audio>